*~
*.log
auto.cgpr
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.db
ChangeLog
.settings
*.txt
*.gcov
*.mat
Makefile.conf
lib/
obj/
regtests.db
Makefile.conf
awa-tests.xml
awa-*-aunit.xml
regtests/results
plugins/awa-mail/src/awa-mail-clients-factory.adb
plugins/awa-blogs/awa-blogs.properties
plugins/awa-changelogs/awa-changelogs.properties
plugins/awa-changelogs/awa_changelogs.properties
plugins/awa-changelogs/changelogs.properties
plugins/awa-comments/awa-comments.properties
plugins/awa-counters/awa_counters.properties
plugins/awa-countries/awa-countries.properties
plugins/awa-images/awa-images.properties
plugins/awa-jobs/awa-jobs.properties
plugins/awa-questions/awa-questions.properties
plugins/awa-settings/awa-settings.properties
plugins/awa-storages/awa-storages.properties
plugins/awa-tags/awa-tags.properties
plugins/awa-votes/awa-votes.properties
plugins/awa-wikis/awa-wikis.properties
plugins/awa-wikis/wikis.properties
plugins/awa-workspaces/awa-workspaces.properties
plugins/awa-sysadmin/awa-sysadmin.properties
plugins/awa-*/model.yaml
plugins/awa-images/config/images.xml
alire.lock
wiki
alire
bin
alire
cover
*.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
storage
*.deb
*.ddeb
*.changes
*.buildinfo
