*~
*.log
config.status
auto.cgpr
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.db
ChangeLog
.settings
configure.lineno
autom4te.cache
*.txt
*.gcov
*.mat
Makefile.conf
lib/
obj/
config.cache
awa/awa.gpr
awa/awa_tests.gpr
awa/awa_unit.gpr
awa/regtests.db
awa/Makefile.conf
awa/awa-tests.xml
awa/awa-*-aunit.xml
awa/regtests/results
awa/distrib/awa.gpr
awa/distrib/awa_unit.gpr
awa/plugins/awa-mail/src/awa-mail-clients-factory.adb
awa/plugins/awa-blogs/awa-blogs.properties
awa/plugins/awa-changelogs/awa-changelogs.properties
awa/plugins/awa-changelogs/awa_changelogs.properties
awa/plugins/awa-changelogs/changelogs.properties
awa/plugins/awa-comments/awa-comments.properties
awa/plugins/awa-counters/awa_counters.properties
awa/plugins/awa-countries/awa-countries.properties
awa/plugins/awa-images/awa-images.properties
awa/plugins/awa-jobs/awa-jobs.properties
awa/plugins/awa-questions/awa-questions.properties
awa/plugins/awa-settings/awa-settings.properties
awa/plugins/awa-storages/awa-storages.properties
awa/plugins/awa-tags/awa-tags.properties
awa/plugins/awa-votes/awa-votes.properties
awa/plugins/awa-wikis/awa-wikis.properties
awa/plugins/awa-wikis/wikis.properties
awa/plugins/awa-workspaces/awa-workspaces.properties
awa/plugins/awa-mail/awa_mail.gpr
awa/plugins/awa-sysadmin/awa-sysadmin.properties
awa/plugins/awa-sysadmin/awa_sysadmin.gpr
awa/plugins/awa-*/model.yaml
awa/plugins/awa-images/config/images.xml
alire.lock
awa/wiki
alire
awa/alire
awa/cover
*.cov
*.substvars
awa/debian/lib*
awa/debian/.debhelper/
awa/debian/autoreconf.after
awa/debian/autoreconf.before
awa/debian/debhelper-build-stamp
awa/debian/files
*.deb
*.ddeb
*.changes
*.buildinfo
