.atlas #awa-content {
    padding-top: 92px;
}
#atlas-logo {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    float: right;
}
#awa-hdr #awa-tools {
    margin-right: 80px;
}
#awa-hdr #atlas-title {
    color: #26d3ff;
    font-weight: bold;
    font-size: 1.3em;
}
.atlas-gravatar {
    float: left;
    width: 100px;
}
.atlas-mblog {
    float: left;
    width: 80%;
}
.atlas-mblog dl {
    width: 60%;
    float: left;
}
.atlas-mblog ul {
    width: 10%;
    float: left;
}
.atlas-mblog ul.awa-buttons {
    padding-top: 8px;
}
div.atlas-author {
    font-weight: bold;
    font-size: 0.9em;
}
div.atlas-time {
    font-size: 0.6em;
    color: #ccc;
}
div.message {
    float: left;
    width: 96%;
    margin: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #a6c9e2;
    padding-bottom: 5px;
}
div.message img {
    padding: 3px;
    border: 1px solid #a6c9e2;
}
#forum-posts {
    margin-top: 20px;
    float: left;
    display: block;
    width: 90%;
}
.atlas #form-block {
    float: left;
    width: 60%;
}
#atlas-user-stat {
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
    clear: none;
    float: right;
}
div.blog-admin {
    width: 40%;
}

dl.awa-required div.markedit textarea {
    width: 100%;
    padding: 0;
}
div.markedit div.markedit-toolbar {
    margin-left: 1px;
}

#folder-list-editor {
    width: 130px;
    float: left;
}
#folder-create {
    float: left;
    clear: both;
}
.ui-resizable-e {
    background: #f0f0f0;
}
div.atlas-button {
    float: left;
    width: 70%;
    margin-bottom: 5px;
    background: #DFEFFC;
    border: 1px solid #C5DBEC;
    color: #2E6E9E;
    border-radius: 5px;
}
.atlas li.atlas-action a {
    display: block;
    padding: 5px;
    line-height: 16px;
    color: #2E6E9E;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 8px;
}

div.atlas-badge {
    float: right;
    width: 32px;
    height: 32px;
    background: url(../images/badge.png);
    text-align: center;
}
ul.atlas-stat {
    list-style-type: none;
}
li.atlas-action {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 20px;
}
div.ui-panel, div.ui-panel-content {
    overflow: auto;
}
div.likes {
    float: left;
    padding-top: 15px;
    width: 100%;
    height: 30px;
}
div.likes div.like-facebook, div.likes div.like-google, div.likes div.like-twitter {
    width: 100px;
    float: left;
    height: 30px;
    overflow: hidden;
}
div.likes div.like-google {
    width: 70px;
}