.atlas #awa-content {
    padding-top: 92px;
}
#atlas-logo {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    float: right;
}
#awa-hdr #awa-tools {
    margin-right: 80px;
}
#awa-hdr #atlas-title {
    color: #26d3ff;
    font-weight: bold;
    font-size: 1.3em;
}
.atlas-gravatar {
    float: left;
    width: 100px;
}
.atlas-mblog {
    float: left;
    width: 80%;
}
.atlas-mblog dl {
    width: 60%;
    float: left;
}
.atlas-mblog ul {
    width: 10%;
    float: left;
}
.atlas-mblog ul.awa-buttons {
    padding-top: 23px;
}
div.atlas-author {
    font-weight: bold;
    font-size: 0.9em;
}
div.atlas-time {
    font-size: 0.6em;
    color: #ccc;
}
div.message {
    float: left;
    width: 96%;
    margin: 2%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #a6c9e2;
    padding-bottom: 5px;
}
div.message img {
    padding: 3px;
    border: 1px solid #a6c9e2;
}
#forum-posts {
    margin-top: 20px;
    float: left;
    display: block;
    width: 90%;
}
.atlas #form-block {
    float: left;
    width: 60%;
}
#blog-list {
    margin-top: 5px;
    padding: 1%;
    width: 30%;
    clear: none;
    float: right;
}
div.blog-admin {
    width: 40%;
}

dl.awa-required div.markedit textarea {
    width: 100%;
    padding: 0;
}
div.markedit div.markedit-toolbar {
    margin-left: 1px;
}

#folder-list-editor {
    width: 130px;
    float: left;
}
#folder-create {
    float: left;
    clear: both;
}
.ui-resizable-e {
    background: #f0f0f0;
}