description = "Ada Web Application unit tests"
name = "awa_tests"
version = "2.6.0"
tags = ["web", "users", "jobs", "framework", "testing"]
website = "https://gitlab.com/stcarrez/ada-awa"

licenses = "Apache-2.0"
authors = ["Stephane.Carrez@gmail.com"]
maintainers = ["Stephane.Carrez@gmail.com"]
maintainers-logins = ["stcarrez"]

project-files = ["awa_tests.gpr"]

[[depends-on]]
awa = "*"
awa_unit = "*"
ado_all = "^2.5.0"
ado_sqlite = "^2.5.0"
ado_mysql = "^2.5.0"
serverfaces_unit = "^1.6.0"
servletada_unit = "^1.8.0"

[gpr-externals]
AWA_LIBRARY_TYPE = ["relocatable", "static", "static-pic"]
AWA_BUILD = ["distrib", "debug", "optimize", "profile", "coverage"]

[configuration]
disabled = true

[[pins]]
awa = { path = '..' }
awa_unit = { path = '../unit' }
ado_mysql = { path = '../ada-ado/mysql' }
ado_sqlite = { path = '../ada-ado/sqlite' }
ado_all = { path = '../ada-ado/drivers' }
utilada_unit = { path = '../ada-util/unit' }
serverfaces_unit = { path = '../ada-asf/unit' }
servletada_unit = { path = '../ada-servlet/unit' }
