div.openid-login {
	float: left;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-right: 10px;
}

div.openid-login a {
	display: block;
	height: 35px;
	width: 100px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	line-height: 35px;
}

a.openid-google em {
	display: block;
	float: left;
	padding: 5px;
	background: url(../images/open-id-logos-1.png);
	width: 100px;
	height: 35px;
	overflow: hidden;
}

div.openid-info {
    float: left;
    padding: 20px;
    border: 1px solid #ccc;
}
div.openid-info dt {
    float: left;
    width:  100px;
    clear: left;
}
div.openid-info dd {
    float: left;
    padding-left: 20px;
}
div.openid-retry {
	float: left;
	clear: both;
	padding-top: 30px;
}
