Source: libawa
Priority: extra
Maintainer: Stephane Carrez <Stephane.Carrez@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, gnat, gnat-4.6, libxmlada4.1-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://code.google.com/p/ada-awa/

Package: libawa1.0
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ada Web Application
 This package provides a framework to build web applications in Ada 2005.

Package: libawa1.0-workspaces
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0 (= ${binary:Version})
Description: Workspace plugin for AWA (Runtime)
 This is the Workspace plugin for Ada Web Application.

Package: libawa1.0-workspaces-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libawa1.0-workspaces (= ${binary:Version}), ${misc:Depends}, libawa1.0 (= ${binary:Version})
Description: Workspace plugin for AWA (Development)
 This is the Workspace plugin for Ada Web Application.

Package: libawa1.0-changelogs
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0 (= ${binary:Version})
Description: Changelogs plugin for AWA (Runtime)
 This is the Changelogs plugin for Ada Web Application.

Package: libawa1.0-changelogs-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-changelogs (= ${binary:Version})
Description: Changelogs plugin for AWA (Development)
 This is the Changelogs plugin for Ada Web Application.

Package: libawa1.0-countries
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0 (= ${binary:Version})
Description: Countries plugin for AWA (Runtime)
 This is the Countries plugin for Ada Web Application.

Package: libawa1.0-countries-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-countries (= ${binary:Version})
Description: Countries plugin for AWA (Development)
 This is the Countries plugin for Ada Web Application.

Package: libawa1.0-images
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-storages (= ${binary:Version})
Description: Images plugin for AWA (Runtime)
 This is the Images plugin for Ada Web Application.

Package: libawa1.0-images-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-images, libawa1.0-storages-dev (= ${binary:Version})
Description: Countries plugin for AWA (Development)
 This is the Countries plugin for Ada Web Application.

Package: libawa1.0-storages
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces (= ${binary:Version})
Description: Storage plugin for AWA (Runtime)
 This is the Storage plugin for Ada Web Application.

Package: libawa1.0-storages-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-storages, libawa1.0-workspaces-dev (= ${binary:Version})
Description: Storage plugin for AWA (Development)
 This is the Storage plugin for Ada Web Application.

Package: libawa1.0-votes
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces (= ${binary:Version})
Description: Votes plugin for AWA (Runtime)
 This is the Votes plugin for Ada Web Application.  The Votes plugin allows
 to easily add voting features to an application.

Package: libawa1.0-votes-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-votes (= ${binary:Version})
Description: Votes plugin for AWA (Development)
 This is the Votes plugin for Ada Web Application.  The Votes plugin allows
 to easily add voting features to an application.

Package: libawa1.0-questions
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces (= ${binary:Version})
Description: Question plugin for AWA (Runtime)
 This is the Question plugin for Ada Web Application.

Package: libawa1.0-questions-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-votes-dev (= ${binary:Version}),
 libawa1.0-workspaces-dev (= ${binary:Version})
Description: Question plugin for AWA (Development)
 This is the Question plugin for Ada Web Application.

Package: libawa1.0-mail
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces (= ${binary:Version})
Description: Mail plugin for AWA (Runtime)
 This is the Mail plugin for Ada Web Application.

Package: libawa1.0-mail-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces-dev (= ${binary:Version})
Description: Mail plugin for AWA (Development)
 This is the Mail plugin for Ada Web Application.

Package: libawa1.0-jobs
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces (= ${binary:Version})
Description: Jobs plugin for AWA (Runtime)
 This is the Jobs plugin for Ada Web Application.

Package: libawa1.0-jobs-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces-dev (= ${binary:Version})
Description: Jobs plugin for AWA (Development)
 This is the Jobs plugin for Ada Web Application.

Package: libawa1.0-settings
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces (= ${binary:Version})
Description: User settings plugin for AWA (Runtime)
 This is the user settings plugin for Ada Web Application.

Package: libawa1.0-settings-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces-dev (= ${binary:Version})
Description: User settings plugin for AWA (Development)
 This is the user settings plugin for Ada Web Application.

Package: libawa1.0-comments
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces (= ${binary:Version})
Description: Comments plugin for AWA (Runtime)
 This is the Comments plugin for Ada Web Application.

Package: libawa1.0-comments-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces-dev (= ${binary:Version})
Description: Comments plugin for AWA (Development)
 This is the Comments plugin for Ada Web Application.

Package: libawa1.0-markedit-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Markedit plugin for AWA (Development)
 This is the Markedit plugin for Ada Web Application.

Package: libawa1.0-blogs
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces (= ${binary:Version}), libawa1.0-tags (= ${binary:Version})
Description: Blogs plugin for AWA (Runtime)
 This is the Blogs plugin for Ada Web Application.  The Blogs plugin provides
 a complete and ready to use blog system that can be integrated easily in an
 application.

Package: libawa1.0-blogs-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0-workspaces-dev (= ${binary:Version}), libawa1.0-tags-dev (= ${binary:Version}), libawa1.0-blogs (= ${binary:Version}), libawa1.0-votes-dev, libawa1.0-markedit-dev
Description: Blogs plugin for AWA (Development)
 This is the Blogs plugin for Ada Web Application.  The Blogs plugin provides
 a complete and ready to use blog system that can be integrated easily in an
 application.

Package: libawa1.0-tags
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0 (= ${binary:Version})
Description: Tags plugin for AWA (Runtime)
 This is the Tags plugin for Ada Web Application.  The Tags plugin allows
 to integrate and use easily tags in an application.

Package: libawa1.0-tags-dev
Section: libdevel
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends}, ${misc:Depends}, libawa1.0 (= ${binary:Version}), libawa1.0-tags (= ${binary:Version})
Description: Tags plugin for AWA (Runtime)
 This is the Tags plugin for Ada Web Application.  The Tags plugin allows
 to integrate and use easily tags in an application.

Package: libawa1.0-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libada-asf1.0-dev, libada-ado1.0-dev, libada-util1.7-dev, gnat, gnat-4.6
Suggests: libada-util1.7-dbg
Description: Ada Utility Library (Development files)
 This package contains the development files for Ada Web Application.

Package: libawa1.0-unit-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libawa1.0-dev (= ${binary:Version}), libada-util1.7-dev, libada-util1.7-unit-dev, libada-asf1.0-unit-dev, gnat, gnat-4.6
Description: Unit test framework for AWA.
 This library provides support and helpers for writing unit tests for AWA.

Package: libawa1.0-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Debugging symbols for the Ada Web Application
 This package provides a framework to build web applications in Ada 2005.
 .
 This is the library containing debugging symbols for the Ada Web
 Application.

