#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
LIBRARY_TYPE=static

# gnatmake can do parallel builds; we don't want make to interfere.
.NOTPARALLEL:

aliversion := $(shell sed -n -r 's/^Package: libawa([^-]*)-dev$$/\1/p' debian/control)
soversion := $(shell sed -n -r 's/^Package: libawa([^-]+)$$/\1/p' debian/control).0
CPUS := $(shell getconf _NPROCESSORS_ONLN)
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
package=libawa-dev
pkgname=libawa
libname=libawa
libprefix=$(libname)_

LIBRARY_TYPE=dynamic

%:
	dh $@ 

.PHONY: binary-arch build-arch
.PHONY: $(pkgname)$(aliversion)-dev $(pkgname)$(soversion)
.PHONY: $(pkgname)$(aliversion)-workspaces $(pkgname)$(aliversion)-workspaces-dev
.PHONY: $(pkgname)$(aliversion)-tags  $(pkgname)$(aliversion)-tags-dev
.PHONY: $(pkgname)$(aliversion)-votes  $(pkgname)$(aliversion)-votes-dev
.PHONY: $(pkgname)$(aliversion)-blogs  $(pkgname)$(aliversion)-blogs-dev

binary-arch: build-arch $(pkgname)$(aliversion)-dev $(pkgname)$(soversion)
	: # Common to all architecture-dependent packages
	dh_installchangelogs -a
	dh_installdocs -a
	dh_lintian -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a -L$(libname)$(soversion) -ldebian/$(libname)$(soversion)/usr/lib
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

$(pkgname)$(aliversion):
	$(MAKE) prefix=$(CURDIR)/debian/tmp/usr install
	for i in $(CURDIR)/debian/tmp/usr/lib/*.so.$(soversion); do \
	   chrpath -d $$i ; \
	done
	dh_installdirs -p$@ \
		usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$@ usr/lib/$(libname).so.$(soversion) /usr/lib/$(DEB_HOST_MULTIARCH)

$(pkgname)$(aliversion)-dev:
	: # The development package
	sed -e "s,INSTALL,/usr,g" -e "s,LIBRARY_TYPE,$(LIBRARY_TYPE),g" \
		< $(CURDIR)/distrib/awa.gpr > $(CURDIR)/debian/tmp/usr/share/ada/adainclude/awa.gpr
	cp $(CURDIR)/debian/dev-postinst $(CURDIR)/debian/$@.postinst
	cp $(CURDIR)/debian/dev-postrm $(CURDIR)/debian/$@.postrm
	dh_installdirs -p$@ \
		usr/lib/$(DEB_HOST_MULTIARCH) \
		usr/share/ada/adainclude/awa \
		usr/lib/ada/adalib/awa
	dh_install -p$@ usr/lib/$(libname).a /usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$@ usr/lib/ada/adalib/awa/*.ali /usr/lib/ada/adalib/awa
	dh_install -p$@ usr/share/ada/adainclude/awa/*.ad[bs] /usr/share/ada/adainclude/awa
	dh_install -p$@ bundles/*.properties usr/share/doc/$@/bundles
	dh_install -p$@ samples/*.ads usr/share/doc/$@/samples
	dh_install -p$@ samples/*.properties usr/share/doc/$@/samples
	dh_install -p$@ samples/*.xmi usr/share/doc/$@/samples
	dh_install -p$@ samples/*.adb usr/share/doc/$@/samples
	dh_install -p$@ samples.gpr usr/share/doc/$@/
	dh_install -p$@ config.gpr usr/share/doc/$@/
	dh_link -p$@ usr/lib/$(DEB_HOST_MULTIARCH)/$(libname).so.$(soversion) \
	             usr/lib/$(DEB_HOST_MULTIARCH)/$(libname).so
	dh_strip -p$@ -X.a

$(pkgname)$(aliversion)-unit-dev:
	: # The development package
	dh_installdirs -p$@ \
		usr/lib/$(DEB_HOST_MULTIARCH) \
		usr/share/ada/adainclude/awa-unit \
		usr/lib/ada/adalib/awa-unit
	dh_install -p$@ usr/lib/$(libprefix)unit.a /usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$@ usr/lib/ada/adalib/awa-unit/*.ali /usr/lib/ada/adalib/awa-unit
	dh_install -p$@ usr/share/ada/adainclude/awa-unit/*.ad[bs] /usr/share/ada/adainclude/awa-unit
	dh_install -p$@ usr/share/ada/adainclude/awa_unit.gpr /usr/share/ada/adainclude
	dh_strip -p$@ -X.a

awa_%:
	name=`echo $@ | cut -d _ -f 2` ; \
	dh_installdirs -p$(pkgname)$(aliversion)-$$name-dev \
		usr/lib/$(DEB_HOST_MULTIARCH) \
		usr/share/dynamo/$@
	name=`echo $@ | cut -d _ -f 2` ; \
	dirs=`cd $(CURDIR)/debian/tmp/usr/share/dynamo && find $@ -type d`; \
	for i in $$dirs; do \
		dh_installdirs -p$(pkgname)$(aliversion)-$$name-dev usr/share/dynamo/$$i ; \
	done
	name=`echo $@ | cut -d _ -f 2` ; \
	files=`cd $(CURDIR)/debian/tmp/usr/share/dynamo && find $@ -type f`; \
	for i in $$files; do \
		dir=`dirname $$i`; \
		dh_install -p$(pkgname)$(aliversion)-$$name-dev usr/share/dynamo/$$i usr/share/dynamo/$$dir ; \
	done

ada_%:
	name=`echo $@ | cut -d _ -f 2` ; \
	dh_installdirs -p$(pkgname)$(aliversion)-$$name-dev \
		usr/lib/ada/adalib/awa_$$name \
		usr/share/ada/adainclude/awa_$$name ; \
	dh_install -p$(pkgname)$(aliversion)-$$name-dev \
	   usr/share/ada/adainclude/awa_$$name.gpr usr/share/ada/adainclude
	name=`echo $@ | cut -d _ -f 2` ; \
	files=`cd $(CURDIR)/debian/tmp/usr/lib/ada/adalib && find awa_$$name -type f`; \
	for i in $$files; do \
		dir=`dirname $$i`; \
		dh_install -p$(pkgname)$(aliversion)-$$name-dev usr/lib/ada/adalib/$$i usr/lib/ada/adalib/$$dir ; \
	done
	name=`echo $@ | cut -d _ -f 2` ; \
	files=`cd $(CURDIR)/debian/tmp/usr/share/ada/adainclude && find awa_$$name -type f`; \
	for i in $$files; do \
		dir=`dirname $$i`; \
		dh_install -p$(pkgname)$(aliversion)-$$name-dev usr/share/ada/adainclude/$$i usr/share/ada/adainclude/$$dir ; \
	done

$(pkgname)$(aliversion)-workspaces:
	dh_installdirs -p$@ usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$@ usr/lib/$(libprefix)workspaces.so.$(soversion) /usr/lib/$(DEB_HOST_MULTIARCH)


$(pkgname)$(aliversion)-workspaces-dev:	awa_workspaces ada_workspaces
	dh_installdirs -p$@ usr/lib/$(DEB_HOST_MULTIARCH)
	dh_link -p$@ usr/lib/$(DEB_HOST_MULTIARCH)/$(libprefix)workspaces.so.$(soversion) \
	             usr/lib/$(DEB_HOST_MULTIARCH)/$(libprefix)workspaces.so

$(pkgname)$(aliversion)-votes:
	dh_installdirs -p$@ usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$@ usr/lib/$(libprefix)votes.so.$(soversion) /usr/lib/$(DEB_HOST_MULTIARCH)

$(pkgname)$(aliversion)-votes-dev:	awa_votes ada_votes
	dh_installdirs -p$@ usr/lib/$(DEB_HOST_MULTIARCH)
	dh_link -p$@ usr/lib/$(DEB_HOST_MULTIARCH)/$(libprefix)votes.so.$(soversion) \
	             usr/lib/$(DEB_HOST_MULTIARCH)/$(libprefix)votes.so

$(pkgname)$(aliversion)-tags:
	dh_installdirs -p$@ usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$@ usr/lib/$(libprefix)tags.so.$(soversion) /usr/lib/$(DEB_HOST_MULTIARCH)

$(pkgname)$(aliversion)-tags-dev:	awa_tags ada_tags
	dh_installdirs -p$@ usr/lib/$(DEB_HOST_MULTIARCH)
	dh_link -p$@ usr/lib/$(DEB_HOST_MULTIARCH)/$(libprefix)tags.so.$(soversion) \
	             usr/lib/$(DEB_HOST_MULTIARCH)/$(libprefix)tags.so

$(pkgname)$(aliversion)-blogs:
	dh_installdirs -p$@ usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$@ usr/lib/$(libprefix)blogs.so.$(soversion) /usr/lib/$(DEB_HOST_MULTIARCH)

$(pkgname)$(aliversion)-blogs-dev:	awa_blogs ada_blogs
	dh_installdirs -p$@ usr/lib/$(DEB_HOST_MULTIARCH)
	dh_link -p$@ usr/lib/$(DEB_HOST_MULTIARCH)/$(libprefix)blogs.so.$(soversion) \
	             usr/lib/$(DEB_HOST_MULTIARCH)/$(libprefix)blogs.so

override_dh_auto_configure:
	dh_auto_configure -- --enable-shared --with-gprbuild

override_dh_auto_build:
	dh_auto_build

override_dh_auto_test:
	dh_auto_test -- LD_LIBRARY_PATH=./lib

override_dh_auto_install: $(pkgname)$(aliversion) \
						  $(pkgname)$(aliversion)-workspaces \
						  $(pkgname)$(aliversion)-workspaces-dev \
						  $(pkgname)$(aliversion)-tags \
						  $(pkgname)$(aliversion)-tags-dev \
						  $(pkgname)$(aliversion)-votes \
						  $(pkgname)$(aliversion)-votes-dev \
						  $(pkgname)$(aliversion)-blogs \
						  $(pkgname)$(aliversion)-blogs-dev \
						  $(pkgname)$(aliversion)-unit-dev

override_dh_install:
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_compress:
	dh_compress -X.ads -X.adb -XMakefile

override_dh_strip:
	dh_strip --dbg-package=libawa$(aliversion)-dbg

override_dh_auto_clean:
	rm -f $(CURDIR)/debian/$(libname)*.postinst
	rm -f $(CURDIR)/debian/$(libname)*.postrm
	dh_auto_clean
